services:
  postgres:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_DB: yay
      POSTGRES_PASSWORD: postgres
